body {
    background-color: #343a40;
    color: #ffffff; 
}

header {
    background-color: #007bff;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
}

nav {
    background-color: #007bff;
}

nav a {
    color: #ffffff;
}

section {
    margin: 40px 0;
}

article {
    background-color: #454d55;
    border-radius: 8px;
    margin-bottom: 20px;
}

article h3 {
    color: #007bff;
}

footer {
    background-color: #007bff;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}   